/* CSS files add styling rules to your content */
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;

}

h1 {
  text-align: center;
  font-family: 'Staatliches', cursive;
}

.navigation {
  background-color: #007896;
  color: white;
  font-weight: bold;
  text-align: center;
}

